/* 🔹 restore 페이지 스타일 */
.restore-page {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 위로 정렬 */
  align-items: center;
  text-align: center;
  font-family: "Playfair Display", serif;
  padding-top: 20px;
  position: relative;
}
/* 주석은 Ctrl + / */
.top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

제목 .restore-title {
  font-size: 5rem;
  font-weight: 500;
  position: absolute;
  left: 70px; /* 왼쪽으로 위치 이동 */
}

.restore-sub {
  font-size: 1rem;
  color: #aaa;
  font-weight: 400;
  margin-top: 60px; /* 큰 제목과 간격 추가 */
  text-align: left; /* 왼쪽 정렬 */
  position: absolute;
  left: 20px; /* 왼쪽으로 정렬 */
}
.logo {
  font-size: 1.2rem;
  text-align: left;
}

/* 로그인/로그아웃 버튼 */
.menu-btn {
  padding: 10px 15px;
  font-size: 14px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 55px;
}

.menu-btn:hover {
  background-color: #fff;
  color: #000;
}

.menu-btn:active {
  transform: scale(0.95);
}

/* 업로드 박스 */
.upload-box {
  border: 2px dashed #777;
  border-radius: 12px;
  padding: 210px 80px;
  color: #bbb;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-box:hover {
  border-color: #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}
/* .main-title {
  margin-top: -800px;
} */
.restore-page .center-content {
  margin-top: -440px;
}
